@import url('https://fonts.googleapis.com/css?family=Nuto:400,700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #eee;
    font-family: poppins;
    
}
.chatbox{
    width: 500px;
    min-width: 390px;
    height: 600px;
    background:  #fbfbfb;
    padding: 25px;
    margin: 10px auto;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 20px;
    transition: all .3s;
    
} 
.chatlogs{
    padding: 10px;
    width: 100%;
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.chatlogs::-webkit-scrollbar {
    width: 10px;   
}
.chatlogs::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background: rgba(0, 0, 0, .1);
}

.chat{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}
.chat .user-photo {
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.chat .user-photo img{
    width: 100px;
}
.chat .chat-message {
    width: 80%;
    padding: 15px;
    margin: 5px 10px 0;
    /* background: #1ddced; */
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
}
.friend .chat-message {
    background: #24f57b;
    border-radius: 20px 1px 20px 1px;
}

.self .chat-message {
    background: #313333;
    order: -1;
    border-radius:1px 20px 1px 20px;
}

/* CHAT FORM STYLING*/
    .chat-form {
        margin-top: 20px;
        display: flex;
        align-items: flex-start;
    }
    .chat-form textarea{
        background: #fbfbfb;
        width: 75%;
        height: 50px;
        border: 2px solid #eee;
        border-radius: 30px 5px 0;
        resize: none;
        padding: 10px;
        font-size: 18px;
        color: #333;
    }
    .chat-form textarea:focus{
        background: #fff;
    }

    .chat-form textarea::-webkit-scrollbar {
        background-color: #212121;
        max-width: 190px;
        width: 10px;
        height: 40px;
        padding: 10px;
        border: 2px solid white;
        border-radius: 5px;
    }.chat-form textarea:focus{
        color: white;
        background-color: #464141;
        outline-color: rgb(41, 187, 245);
        box-shadow: -3px -3px 15px rgb(0, 255, 255);
        transition: .1s;
        transition-property: box-shadow;
    }
    .chat-form textarea::-webkit-scrollbar-thumb {
       border-radius: 10px;
       background: rgba(0, 0, 0, .1);
    }

    .chat-form button{
        padding: 1.3em 3em;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        height: 50px;
        margin-right: 15px;
        border: none;
        border-radius: 0 5px 30px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;

    } .chat-form button {
            display: block;
            margin-left: 0.3em;
            transition: all 0.3s ease-in-out;
    } 
    .chat-form button:hover{  
        background-color: #33e3e9;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-7px);
    }.chat-form button:active {
        transform: translateY(-1px);
      }
    
/* CHAT FORM STYLING*/
